<!-- <img src="../../assets/golf.jpg" alt="Golf course"> -->
<br>
<div class="button-container">
    <!-- Dropdown menu: Select # of Holes -->
    <div class="row d-flex justify-content-center">
        <div class="col-4 d-flex justify-content-center">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle># of Holes</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem class="btn-sm"
                            (click)="onSelect9Holes()">9-Hole</button>
                    <button ngbDropdownItem class="btn-sm"
                            (click)="onSelect18Holes()">18-Hole</button>
                </div>
            </div>
        </div>

        <!-- Dropdown menu: Select golf course -->
        <div class="col-4 d-flex justify-content-center">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Golf Course</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem class="btn-sm"
                            (click)="onSelect9Holes()">Pruneridge - SJ</button>
                    <button ngbDropdownItem class="btn-sm"
                            (click)="onSelect18Holes()">Mission Hills of Hayward</button>
                    <button ngbDropdownItem class="btn-sm"
                            (click)="onSelect18Holes()">Monarch Bay - San Leandro</button>
                    <button ngbDropdownItem class="btn-sm"
                            (click)="onSelect18Holes()">Corica Park - Alameda</button>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

    <!-- Add player -->
    <div class="row d-flex justify-content-center mt-3 mb-4">
        <div class="col">
        </div>
        <input  type="text"  class="col form-control text-center" id="playerNameInput"
                *ngIf="gameStarted===0"
                placeholder="Name"
                [(ngModel)]="newPlayerName">
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-evenly">
            <button class="btn btn-primary btn-sm"
                    *ngIf="gameStarted===0"
                    (click)="onAddPlayer()">Add player
            </button>

            <button class="btn btn-success btn-sm"
                    *ngIf="gameStarted===0"
                    [disabled]="!players.length"
                    (click)="onStartGame()">Start Game</button>

            <button class="btn btn-warning btn-sm"
                    *ngIf="gameStarted===1"
                    (click)="onEndGame()">End Game</button>

            <button class="btn btn-danger btn-sm"
                    *ngIf="players.length"
                    (click)="onReset()">RESET
            </button>
        </div>
    </div>
</div>
<br>

<!-- Display players -->
<div class="currHoleContainer container border border-primary rounded border-3"
     *ngIf="players.length">
    <div class="row align-items-center pt-2">
        <div class="col text-center"
             *ngIf="gameStarted">CURRENT HOLE: {{ currHole }}
        </div>
        <div class="col text-center"
             *ngIf="gameEnded">Results
        </div>
    </div>

    <div class="row d-flex align-items-center"
         *ngFor="let player of players; let i=index">
         <div class="col-2 d-flex justify-content-center"
              *ngIf="!gameEnded">
                <button class="btn btn-primary btn-sm"
                        [disabled]="gameStarted"
                        (click)="onDeletePlayer(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                </button>
        </div>
        <div class="col-4 pt-1 pb-1 text-center"
             *ngIf="!gameEnded">{{ player.name }} ({{ player.total }})</div>
        <div class="col-2 text-center pt-1 pb-1 border border-dark rounded"
             *ngIf="!gameEnded">{{ player.hole[currHole-1] }}</div>
        <div class="col-2 d-flex justify-content-center"
            *ngIf="!gameEnded">
            <button class="btn circle-button btn-primary btn-sm"
                    [disabled]="!gameStarted"
                    (click)="onDecrement(i)">-</button>
        </div>
        <div class="col-2 d-flex justify-content-center"
             *ngIf="!gameEnded">
            <button class="btn circle-button btn-primary btn-sm"
                    [disabled]="!gameStarted"
                    (click)="onIncrement(i)">+</button>
        </div>
        <br><br><br>

        <!-- End of game display -->
        <div class="col text-center"
             *ngIf="gameEnded">{{ player.name }} </div>
        <div class="col text-center"
             *ngIf="gameEnded">{{ player.total }} </div>
    </div>

</div>
<br>
<div class="d-flex justify-content-between">
    <button class="btn btn-success btn-sm"
            *ngIf="gameStarted"
            (click)="onPrevHole()">Prev hole</button>
    <button class="btn btn-success btn-sm"
            *ngIf="gameStarted"
            (click)="onNextHole()">Next hole</button>
</div>





