<!-- Add player -->
<input  type="text"  class="form-control"
        *ngIf="gameStarted===0"
        placeholder="Name"
        [(ngModel)]="newPlayerName">
<br>
<div class="button-container">
    <div class="row">
        <div class="col d-flex justify-content-evenly">
            <button class="btn btn-primary btn-sm"
                    *ngIf="gameStarted===0"
                    (click)="onAddPlayer()">Add player
            </button>

            <button class="btn btn-success btn-sm"
                    *ngIf="gameStarted===0"
                    [disabled]="!players.length"
                    (click)="onStartGame()">Start Game</button>

            <button class="btn btn-warning btn-sm"
                    *ngIf="gameStarted===1"
                    (click)="onEndGame()">End Game</button>

            <button class="btn btn-danger btn-sm"
                    *ngIf="players.length"
                    (click)="onReset()">RESET
            </button>
        </div>
    </div>
</div>
<br>

<!-- Display players -->
<div class="currHoleContainer container border border-primary rounded border-3"
     *ngIf="players.length">
    <div class="row align-items-center pt-2">
        <div class="col text-center"
             *ngIf="gameStarted">CURRENT HOLE: {{ currHole }}
        </div>
        <div class="col text-center"
             *ngIf="gameEnded">Results
        </div>
    </div>

    <div class="row d-flex align-items-center"
         *ngFor="let player of players; let i=index">
        <div class="col-6 pt-1 pb-1"
             *ngIf="!gameEnded">{{ player.name }} ({{ player.total }})</div>
        <div class="col-2 text-center pt-1 pb-1 border"
             *ngIf="!gameEnded">{{ player.hole[currHole] }}</div>
        <div class="col-2"
             *ngIf="!gameEnded">
            <button class="btn btn-primary btn-sm"
                    [disabled]="!gameStarted"
                    (click)="onIncrement(i)">+</button>
        </div>
        <div class="col-2"
            *ngIf="!gameEnded">
            <button class="btn btn-primary btn-sm"
                    [disabled]="!gameStarted"
                    (click)="onDecrement(i)">-</button>
        </div>
        <br><br><br>

        <!-- End of game display -->
        <div class="col text-center"
             *ngIf="gameEnded">{{ player.name }} </div>
        <div class="col text-center"
             *ngIf="gameEnded">{{ player.total }} </div>
    </div>

</div>
<br>
<div class="d-flex justify-content-evenly">
    <button class="btn btn-success btn-sm"
            *ngIf="gameStarted"
            (click)="onPrevHole()">Prev hole</button>
    <button class="btn btn-success btn-sm"
            *ngIf="gameStarted"
            (click)="onNextHole()">Next hole</button>
</div>





